body {
  background-color: skyblue;
}
.div-flex {
  display: flex;
}
:root {
  --text-color: red;
  --yellow: yellow;
}

body {
  color: var(--text-color);
}

.a {
  &:hover {
    color: color(var(--yellow) a(54%));
  }
}
